* {
    /* For some reason, setting this to 8px leads to text clipping at the top, but 8.5px works.*/
    font-size: 7px;
    min-height: 0;
    min-width: 0;
}

* label {
    padding: 0px;
}

.controls-box {
    border-radius: 6px;
    border: 1px solid alpha(currentColor, 0.15);
    padding: 2px;
}

.controls-box button label {
    font-size: 8.5px;
}

.time-display {
    font-size: 10px;
}

columnview {
    background-color: red;
}